<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Publish a post</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="css/community.css">
    <script src="js/bootstrap.min.js" type="application/javascript"></script>

</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Green Hand Community</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Green Hand Community</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            </ul>
            <form class="navbar-form navbar-left">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Type something to ...">
                </div>
                <button type="submit" class="btn btn-default">Search</button>
            </form>
            <ul class="nav navbar-nav navbar-right">
                <li th:if="${session.user != null}">
                    <a href="/publish">Publish</a>
                </li>
                <li class="dropdown" th:if="${session.user != null}">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                       aria-haspopup="true" aria-expanded="false" th:text="${session.user.getName()}"><span
                            class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Profile</a></li>
                        <li><a href="#">Message</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Log out</a></li>
                    </ul>
                </li>
                <li th:unless="${session.user != null}">
                    <a href="https://github.com/login/oauth/authorize?client_id=85cfd8da29006b0b77db&redirect_uri=http://localhost:8999/callback&scope=user&state=1">Log
                        in</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid main">
    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <h2><span class="glyphicon glyphicon-pencil" aria-hidden="true"
                      style="font-weight: bold"> Publish</span>
            </h2>
            <hr>
            <form action="/publish" method="post">
                <div class="form-group">
                    <label for="title">Title</label>
                    <input type="text" class="form-control" id="title" name="title"
                           th:value="${title}"
                           placeholder="Title of post...">
                </div>
                <div class="form-group">
                    <label for="description">Description</label>
                    <textarea name="description" class="form-control" id="description" cols="30" rows="10"
                              th:text="${description}"
                              placeholder="Start from here ..."></textarea>
                </div>
                <div class="form-group">
                    <label for="tag">Tag</label>
                    <input type="text" class="form-control" id="tag" name="tag"
                           th:value="${tag}"
                           placeholder="Tag for post, split by ','.">
                </div>
                <div>
                    <div class="alert alert-danger" th:if="${error} != null" th:text="${error}"></div>
                    <button type="submit" class="btn btn-primary btn-publish">Publish</button>
                </div>
            </form>
        </div>
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <h3>Post Guideline</h3>
            Title: the title for your post, which is appropriate.<br>
            Content: you know what it is.<br>
            Tag: you can make one or more tags, split them with ',', and each tag should be short.
        </div>

    </div>
</div>
</body>
</html>